.container {
  margin-bottom: 24px;
  .titleBox {
    display: flex;
    justify-content: space-between;
  }
  .options {
    display: flex;
    justify-content: space-between;
    :global {
      .ant-btn {
        padding-left: 0;
      }
    }
  }
}
